<nb-card size="small">
    <nb-card-header>Add a Summoner</nb-card-header>
    <nb-card-body>
        <input type="text" nbInput fullWidth fieldSize="giant" placeholder="name...">
        <div class="cb-container">
            <nb-checkbox status="warning">AFK</nb-checkbox>
            <nb-checkbox status="warning">Talked Shit</nb-checkbox>
            <nb-checkbox status="warning">Intentional Feeding</nb-checkbox>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton fullWidth status="success" size="giant">Add</button>
    </nb-card-footer>
</nb-card>

<app-summoner-view></app-summoner-view>