.cb-container {
    margin-top: 1.5rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

nb-checkbox:not(:only-child) {
    margin-right: 1.5rem;
}

.experience-button {
    margin: 10px;
}