<nb-card>
    <nb-card-header>Summoner Name</nb-card-header>
    <nb-card-footer>
        <div class="stats-buttons">
            <button nbButton status="info" size="giant" (click)="handleStatsLookUpClick('OP')">OP.GG</button>
            <button nbButton status="info" size="giant" (click)="handleStatsLookUpClick('MOBALYTICS')">MOBALYTICS.GG</button>
            <button nbButton status="info" size="giant" (click)="handleStatsLookUpClick('POROFESSOR')">POROFESSOR.GG</button>
            <button nbButton status="info" size="giant" (click)="handleStatsLookUpClick('BLITZ')">BLITZ.GG</button>
        </div>
    </nb-card-footer>
</nb-card>