<nb-card *ngFor="let summoner of toxicService.summoners" [accent]="summoner.isPositiveExperience ? 'success' : 'danger'">
    <nb-card-header>
        {{summoner.name}} {{summoner.submittedTime | date}}
    </nb-card-header>
    <nb-card-footer>
        <div class="stats-buttons">
            <button nbButton class="stat-button" status="info" size="small" (click)="handleStatsLookUpClick('OP', summoner.name)">OP.GG</button>
            <button nbButton class="stat-button" status="info" size="small" (click)="handleStatsLookUpClick('MOBALYTICS', summoner.name)">MOBALYTICS.GG</button>
            <button nbButton class="stat-button" status="info" size="small" (click)="handleStatsLookUpClick('POROFESSOR', summoner.name)">POROFESSOR.GG</button>
            <button nbButton class="stat-button" status="info" size="small" (click)="handleStatsLookUpClick('BLITZ', summoner.name)">BLITZ.GG</button>
        </div>
    </nb-card-footer>
</nb-card>
